.App {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.auth-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px!important; /* Adjust the value to increase or decrease the vertical spacing */
}

/* Optional: If you want horizontal centering, you can add the following */
.auth-container {
  align-items: center;
}

.google {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust the value to increase or decrease the vertical spacing */
}

/* Optional: If you want horizontal centering, you can add the following */
.google{
  align-items: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
